include inc/head.pug
  button(data-modal='pass_change') Open Modal

  #pass_change.modal.modal--change-pass.modal--open

    .modal-content

      form.form.form--change-pass
        .form-content
          p.modal-title Изменение пароля
          
          .input_field
            input.simple_input(type='password' placeholder='Новый пароль' value='1111')

          .input_field.input_field--error
            input.simple_input(type='password' placeholder='Еще раз')

            .input_field-error Пароли не совпадают

          input.simple_submit(type='submit' value='Сохранить')

        .form-success
          p.modal-title Пароль изменён

include inc/foot.pug