include inc/head.pug
  button(data-modal='pass_change') Open Modal

  #pass_change.modal.modal--change-pass.modal--open

    .modal-content--wide

      form.form.form--change-pass
        .form-content
          img(src='assets/img/robokassa.jpg')



include inc/foot.pug